/* GENERAL */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.container{
  width: 61.25%;
  min-width: 930px;
  margin: 0 auto;
}

body{
  font-family: 'Roboto', sans-serif;
}

h1, h2{
  font-weight: 700;
}

h1{
  font-size: 3.725rem;
}

h2{
  font-size: 3.125rem;
  margin-bottom: 20px;
}

p{
  font-size: 20.125px;
  font-weight: 500;
  line-height: 31.5px;
}

a{
  text-decoration: none;
  color: white;
}

/* BUTTONS */

.button{
  display: inline-block;
  font-size: 15px;
  line-height: 37px;
  padding: 0 12.5px;
  border-radius: 50px;
  color: black;
  background-color: white;
}

.button.big{
  font-size: 21px;
  line-height: 58px;
  padding: 0 30px;
  margin-left: 23px;
}

.dark{
  background-color: #202427;
  color: white;
}

.liliac{
  background-color: #8ea1e1;
  color: white;
}

a .button:hover{
  box-shadow: 0px  3px  15px black;
  color: #255ee9;
}

a .button.dark:hover{
  color: white;
  background-color: #36393f;
}

a .button.liliac:hover{
  color: white;
  background-color: #c7a0ff;
}

.button.big i{
  font-size: 15px;
  vertical-align: 10%;
  margin: 0 7px 0 3px;
}

/* HEADER */

header{
  height: 84px;
  line-height: 84px;
  background-color: #255ee9;
  text-align: center;
}

header .container{
  position: relative;
}

header .container img{
  position: absolute;
  top: 25px;
  left: 0;
}

nav ul{
  list-style: none;
}

nav ul li{
  display: inline-block;
  text-transform: capitalize;
}

nav ul li a{
  font-size: 16px;
  font-weight: 500;
  margin: 0 20px;
}

header .container .button{
  position: absolute;
  top: 25px;
  right: 0;
}

/* JUMBOTRON */

.jumbotron{
  position: relative;
}

.wallpaper{
  width: 100%;
  height: 57.25vh;
  background-image: url('../img/jumbo.png');
  background-size: cover;
  background-position: center;
}

.jumbo-center{
  position: absolute;
  top: 40.8%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  text-align: center;
  color: white;
}

.jumbo-center h1{
  line-height: 150px;
}

.jumbo-center p{
  margin-bottom: 23px;
}

/* MAIN - SECTIONS*/

section.gray{
  background-color: #f6f6f6;
}

section .container{
  padding: 116px 0 230px 0;
}

section:last-of-type .container{
  padding-bottom: 136px;
}

section figure{
  width: 69%;
  float: left;
}

figure.right{
  text-align: right;
}

section aside{
  width: 31%;
  float: left;
  color: #202427;
}

section h2{
  padding-top: 27px;
}

/* MAIN - BOTTOM */

.text-bottom{
  width: 87.5%;
  text-align: center;
  margin: 0 auto 15px;
}

.figure-bottom, .figure-bottom img, .text-img-bottom img, .bottom-line{
  width: 100%;
}

.figure-bottom{
  margin-bottom: 17px;
}

.text-img-bottom{
  width: 50%;
  margin: 0 auto 60px;
  text-align: center;
  position: relative;
}

.text-img-bottom h3{
  width: 100%;
  font-size: 2rem;
  position: absolute;
  top: 70%;
  text-align: center;
}

.bottom-line{
  text-align: center;
}

/* FOOTER */

footer{
  background-color: #23272a;
  color: white;
  padding-top: 82px;
}

footer .top-footer{
  border-bottom: 1px solid #7288d9;
  margin-bottom: 35px;
}

footer .top-footer h3{
  font-size: 2rem;
  color: #7288d9;
  margin-bottom: 27px;
}

/* ASIDE */

.top-footer aside{
  display: block;
  float: left;
  width: 25%;
}

.top-footer aside .language{
  margin-bottom: 22px;
}

.language img{
  height: 16px;
  vertical-align: middle;
}

.language span{
  font-size: 14px;
}

.language span i{
  font-size: 10px;
  vertical-align: 20%;
  cursor: pointer;
}

.top-footer aside .socials{
  font-size: 20px;
}

.socials i{
  margin-right: 20px;
}

/* LISTS */

.top-footer ul{
  list-style: none;
  display: block;
  float: left;
  margin: 0 0 28px 92px;
}

.top-footer ul li{
  padding: 7px 0 7px 0;
}

.top-footer ul li:first-of-type{
  color: #7288d9;
  font-weight: bold;
}

/* BOTTOM FOOTER */

.bottom-footer{
  position: relative;
  padding-bottom: 97px;
}

.bottom-footer .button.right{
  position: absolute;
  top: 0;
  right: 0;
}