/* GENERAL */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.container{
  width: 61.25%;
  margin: 0 auto;
}

body{
  font-family: 'Roboto', sans-serif;
}

h1, h2{
  font-weight: 700;
}

h1{
  font-size: 3.725rem;
}

h2{
  font-size: 3.125rem;
}

p{
  font-size: 20.125px;
  font-weight: 500;
  line-height: 31.5px;
}

/* HEADER */

header{
  height: 84px;
  line-height: 84px;
  background-color: #255ee9;
  text-align: center;
}

header .container{
  position: relative;
}

header .container img{
  position: absolute;
  top: 25px;
  left: 0;
}

nav ul{
  list-style: none;
}

nav ul li{
  display: inline-block;
  text-transform: capitalize;
}

nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  margin: 0 20px;
}

/* JUMBOTRON */

.jumbotron{
  position: relative;
}

.jumbotron img{
  width: 100%;
}

.jumbo-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  text-align: center;
  color: white;
  background-color: red;
}

.jumbo-center h1{
  line-height: 150px;
}

/* MAIN */

section.gray{
  background-color: #f6f6f6;
}

section .container{
  padding: 116px 0 230px 0;
  background-color: green;
}

section picture{
  width: 69%;
  float: left;
  background-color: red;
}

picture.right{
  text-align: right;
}

section aside{
  width: 31%;
  float: left;
  color: #202427;
  background-color: aqua;
}

section aside h2{
  padding-top: 27px;
}

section aside p{
  padding: 20px 0 0 2px;
}
